
.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 20px;
}

.border-out {
  border: #000 solid 20px;
  border-radius: 30px;
  padding: 20px;
  background-color: #9d9d9d;
 
}

.border-in {
  border: #000000 solid 5px;
  padding: 20px; 
  background-color: #faebd7;

}

.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.frame {
  display: flex; 
  justify-content: center; 
  align-items: start; 
  border: #000 solid 10px;
  border-radius: 20px;
  padding: 10px; 
}


.grid, .mini-grid {
  display: flex;
  flex-wrap: wrap;
  background-color: #969696;
  margin: 10px;
  border: #000000 solid 2px;

}

.grid {
  width: 200px;
  height: 400px;
}

.grid div {
  height: 20px;
  width: 20px;
}

.tetromino {
  background-color: #063f38;
}

.mini-grid {
  width: 80px;
  height: 80px;
}

.mini-grid div {
  height: 20px;
  width: 20px;
}

button {
  border-radius: 5px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

}

.buttons #change-btn {
  margin-bottom: 10px;
}

.bottom {
  display: flex;
  justify-content: center;
}

.bottom button {
  margin: 0 10px; 
}

button {
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;

}

.score {
  font-weight: bold;
  color:#063f38;
  font-size: xx-large;
  text-align: center;
  margin: 10px 0;
}

.start {
  text-align: center;
  margin: 10px 0;
}

button {
  background-color: #080c4c; 
  border: none;
  color: #fbfbfb;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  background-color: #0a5c11;
}